.root {
	display: flex;
  align-items: center;
  justify-content: center;
	height: 100%;
}

.content {
	display: grid;
  gap: 60px;
	place-content: center;
  width: 100%;
  max-width: 760px;
  padding: 40px 24px;
  box-shadow: 0 0 12px rgb(0 0 0 / 20%)
}

.section-heading {
	display: grid;
	place-content: center;
}

.section-case {
	display: grid;
	place-content: center;

}

.list-case {
  display: grid;
  gap: 16px;
}
